# Python virtual environment
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# PyTorch / YOLO model weights
*.pt
*.onnx
*.engine

# Operating System & IDE
.DS_Store
.idea/
.vscode/

# Local Runtime Configurations
*.log
